body {
  background-color: #000000;
  margin: 0;
  font-family: monospace;
  color: white;
}

p {
  display: inline;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

.console {
  font-size: 1.5em; /* Use relative units */
  padding: 10px;
}

#terminal {
  font-size: 1.5em; /* Matching the font size with the console */
  color: white;
  background: #000000;
  border: none;
  outline: none;
}

.version,
.updates,
.result,
.root {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .console,
  #terminal {
    font-size: 1em;
  }
}
