body {
  background-color: #000000;
  }
  
  p {
  display: inline;
  }
  
  a,
  a:hover {
  color: white;
  text-decoration: none;
  }
  
  .console {
  font-family: monospace;
  font-size: 1.5em; /* Use relative units */
  color: white;
  border: none;
  padding: 0px;
  outline: none;
  }
  
  #terminal {
  font-family: monospace;
  font-size: 1.5em; /* Use relative units */
  color: white;
  background: #000000;
  border: none;
  padding: 0px;
  outline: none;
  }
  
  /* Media queries for smaller screens */
  @media (max-width: 767px) {
  .console,
  #terminal {
  font-size: 1em;
  }
  }